<% if !@order_items.nil? && @order_items.any?{|item| item.errors} %>
    <div class="alert alert-danger">
      <ul>
        <% @order_items.each do |item|
          item.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
<% end %>
<% if @order_items.size == 0 %>
    <div class="main">
      <div class="shop_top">
        <div class="container">
          <h4 class="title">Shopping cart is empty</h4>
          <p class="cart">You have no items in your shopping cart.<br>Click<a href="index.html"> here</a> to continue shopping</p>
        </div>
      </div>
    </div>
<% else %>
    <% @order_items.each do |order_item| %>
        <%= render 'carts/cart_row', product: order_item.product, order_item: order_item, show_total: true %>
    <% end %>
<% end %>